<ion-view view-title="Board {{board.title}}">
    <ion-nav-buttons side="right">
        <button class="button" ng-if="!data.showDelete" ng-click="data.showDelete = !data.showDelete; data.showReorder = !data.showReorder">Edit</button>
        <button class="button" ng-if="data.showDelete" ng-click="data.showDelete = !data.showDelete; data.showReorder = !data.showReorder">Done</button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="item in items" 
                      item="item"
                      on-tap="copyText('TODO')">
              {{ item.raw }}
              <ion-delete-button class="ion-minus-circled" 
                                 ng-click="onItemDelete(item)">
              </ion-delete-button>
              <ion-option-button class="button-assertive"
                                 ng-click="edit(item)">
                Edit
              </ion-option-button>
              <ion-option-button class="button-calm"
                                 ng-click="share(item)">
                Share
              </ion-option-button>
              <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
        </ion-list>
    </ion-content>

        <!-- This is the floating add button using on ng-mfb open source module -->
        <nav ng-if="!data.showReorder" mfb-menu position="bl" effect="zoomin" label="Cancel"
             active-icon="ion-close" resting-icon="ion-plus-round"
             toggling-method="click">
          <button mfb-button mfb-button-close ng-click="newFromClipboard()" icon="ion-clipboard" label="New From Clipboard">+</button>
          <button mfb-button mfb-button-close ng-click="popupPasteInput()" icon="ion-edit" label="New...">+</button>
        </nav>
</ion-view>
